.app-name {
    margin-left: 12px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .sidebar {
    width: 230px; 
  }
  
  .sidenav-container {
    height: calc(100vh - 64px); 
    margin-top: 64px;
  }
  
  .profile-icon {
    margin-right: 12px;
  }
  
  .dark-mode-button {
    margin-left: 12px;
  }