<!-- src/app/hello-container/hello-container.component.html -->

<div class="navbar-container">
    <mat-card class="nav-card" >
      <mat-card-content class="navContent">
        <img src="../../../assets/images/logo.png" alt="Logo" >

        <span>
            <button mat-button color="primary" class="navbtn">Login</button> 
            <button mat-button color="primary" class="navbtn">Register</button>
        </span>
      </mat-card-content>
    </mat-card>
</div>
  
  <div class="container">
    <mat-card class="sec-card">
      <mat-card-content class="sec-content">
        <!-- <img src="../../../assets/images/giphy.webp" alt=""> -->
      </mat-card-content>
    </mat-card>
  </div>
  