/* src/app/hello-container/hello-container.component.css */

.navbar-container {
    width: 100%;
    // margin-bottom: 20px;
  }
  
  .nav-card {
    display: flex;
    background-color: rgb(88, 84, 84);
    border-bottom: 40px;
    // padding: 10px;
  }
  
  .nav-card img {
    height: 40px; /* Adjust height as needed */
    margin-right: 10px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
  }
  


  .navbtn {
    font-size: large;
  }
  .navContent {
    display: flex;
    justify-content: space-between;
  }

  .sec-card {
    width: 100%; 
    height: 945px; 
    background-image: url('../../../assets/images/giphy.webp');
    background-size: cover;
    background-position: center;
  }
  
  .sec-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }

